{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": false,
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css",
    "tailwindFunctions": ["cn", "cva"],
    "overrides": [
        {
            "files": ["*.json", "*.yml", "*.yaml", "*.md"],
            "options": { "tabWidth": 2 }
        }
    ]
}
